h1 {
    font-family:'Segoe UI', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: blueviolet;
    padding: 15px;
    margin: 0px
}

* {
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

body {
    background-color: #88aaff;
    padding: 20px 50px;
}

.content {
    background-color: #ffffff;
    padding: 0px 10px;
    margin-top: -22px;
}

h2 {
    font-weight: normal;
    padding-top: 10px;
}

h3 {
    font-family: serif;
}

a {
    font-weight: normal;
    font-family: serif;
}

.first-element {
    padding-top: 10px;
}

.last-element {
    padding-bottom: 10px;
}

img {
    margin-bottom: 0px;
}