@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-VariableFont_wght.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-Italic-VariableFont_wght.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

h1 {
    font-family:'Inter', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    background-color: blueviolet;
    padding: 15px;
    margin: 0px
}

* {
    font-family: "Urbanist", sans-serif;
    font-weight: 550;
}

body {
    background-color: #88aaff;
    padding: 20px 50px;
}

.content {
    background-color: #ffffff;
    padding: 0px 10px;
    margin-top: -22px;
}

h2 {
    font-weight: normal;
    padding-top: 10px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

a {
    font-weight: normal;
    font-family: serif;
}

.first-element {
    padding-top: 10px;
}

.last-element {
    padding-bottom: 10px;
}

img {
    margin-bottom: 0px;
}