h1 {
    font-family:'Segoe UI', sans-serif;
    color:blueviolet;
    font-weight: bold;
}

* {
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

h2 {
    background-color: black;
    color:aliceblue;
    font-weight: normal;
}

h3 {
    font-family: serif;
}

a {
    font-weight: normal;
    font-family: serif;
}